<div class="container">
  <div class="showcase">
    <a [routerLink]="['/']"> Inicio </a>
    <div
      style="height: 80vh; width: 80vw; display: flex; flex-direction: column"
      class="nes-container with-title"
    >
      <!-- <h1 class="title">Info</h1> -->

      <div class="nes-container with-title is-centered">
        <p class="title">Info app</p>
        <p class="text">
          Es una "Quiz app" contra reloj con ranking.como parte resolución del
          reto No 3
        </p>
      </div>
      <div class="nes-container with-title is-centered">
        <p class="title">Info Reto</p>
        <p class="text">
          Únete a los retos de código semanales y mensuales para mejorar tus
          habilidades by Mouredev.

          <a
            target="blank"
            href=" https://www.youtube.com/watch?v=14v4IINunvY&t=4sRedes "
            >Mas información</a
          >
        </p>
      </div>
      <div class="nes-container with-title is-centered">
        <p class="title">Redes Mouredev</p>
        <ul class="text">
          <li>
            <a href="https://twitter.com/mouredev" target="blank">Twitter</a>
          </li>
          <li>
            <a href="https://twitch.tv/mouredev" target="blank">Twitch</a>
          </li>
          <li>
            <a href="https://github.com/mouredev" target="blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
